{% extends 'templates/base.html' %}

{#{% load staticfiles %}#}  <!-- are staticfiles necessary here since in base.html? -->

{% block content %}
    <!-- Header -->
{#    <a href="#about"></a>#}
    <div class="intro-header" id="about">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Alex Hughes</h1>
                        <h3>Web Portfolio</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="{% url 'resume' %}" class="btn btn-default btn-lg"><i class="fa fa-file-text fa-fw"></i> <span class="network-name">Resume</span></a>
                            </li>
                            <li>
                                <a href="https://github.com/alxhghs" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/alxhughes/" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12">  <!-- arrow to scroll down -->
                  <a href="#projects"><i class="fa fa-arrow-down fa-2x" style="color:white;"></i></a>
                </div>
            </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->
{#  TODO implement once there are more projects#}
{#  {% if projects|length > 0 %}#}
{#    <div class="content-section-a">#}
{#     <h1 align="center">My Projects</h1>#}
{#    </div>#}
{#  {% endif %}#}

  {% if project1 %}
      <div id="projects">
	      <div class="content-section-a">
            <div class="container">
                <div class="row">
                      <div class="col-lg-5 col-sm-6">
                          <hr class="section-heading-spacer">
                          <div class="clearfix"></div>
                          <h2 class="section-heading">{{ project1.title }}</h2>
                          <p class="lead">{{ project1.description }}</p>
                      </div>
                      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                        <br />
                        <div class="light-rounded">
                          <a href="{{ project1.url }}">
                              <img class="img-responsive light-rounded" src="{{ MEDIA_URL }}{{ project1.img }}" alt="">
                          <br />
                          <p align="center">click to view</p></a>
                        </div>
                      </div>
                </div>
            </div>
            <!-- /.container -->
        </div>
      </div>
  {% endif %}
    <!-- /.content-section-a -->

{#  TODO content B section#}
 {% if project2 %}
   <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ project2.title }}</h2>
                    <p class="lead">{{ project2.description }}</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <br /><a href="{{ project2.url }}"><img class="img-responsive light-rounded" src="{{ MEDIA_URL }}{{ project2.img }}" alt="">
                    <br />
                    <p align="center">click to view</p></a>
                </div>
            </div>
        </div>
  {% endif %}
        <!-- /.container -->
  </div>
    <!-- /.content-section-b -->
  {% if project3 %}
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">{{ project3.title }}</h2>
                    <p class="lead">{{ project3.description }}</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <a href="{{ project3.url }}"><img class="img-responsive" src="{{ MEDIA_URL }}{{ project3.img }}" alt="">
                    <br />
                    <p align="center">click to view</p></a>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
  {% endif %}
	<div id="contact">
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Connect with me:</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://twitter.com/alx_hghs" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="mailto:alxhghs@gmail.com" class="btn btn-default btn-lg"><i class="fa fa-envelope fa-fw"></i> <span class="network-name">Email</span></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/alxhughes/" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->
  </div>

{% endblock %}
