<!DOCTYPE html>

{% load staticfiles %}

<html>
    <head>
        <meta charset="utf-8">
        <title>Alexander Hughes, MPA</title>
    </head>
    <body>
      <h1>Alex Hughes, MPA</h1>
      {% for r in resume %}
        {% if resume.sub_type == "Work" %}
          <h2>Work</h2>

        {% endif %}
        {% if resume.sub_type == "Volunteer" %}
          <h2>Volunteer</h2>

        {% endif %}
        {% if resume.sub_type == "Education" %}
          <h2>Education</h2>

        {% endif %}
        {% if resume.sub_type == "Skills" %}
          <h2>Skills</h2>

        {% endif %}
    {% endfor %}
    </body>
</html>
